table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table h4 {
  text-align: center;
  text-transform: uppercase;
}

.submit-button, .lg-message {
  text-align: center;
}

.submit-button input {
  text-transform: uppercase;
  width: 100%;
}